.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.start,
.question,
.results {
  padding: 20px;
}

.start {
  text-align: center;
}

.history-list {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow: auto;
}

.history-list_result:nth-child(even) {
  background-color: bisque;
}

.history-list_result:nth-child(odd) {
  background-color: white;
}
.question {
  width: 300px;
  text-align: center;
}

.question > div {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.results {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
